# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# Coverage
coverage/

# Editor settings
.vscode/
.idea/

# Optional lock files
package-lock.json
yarn.lock
pnpm-lock.yaml